body {
	background-color: #22577A;
	font-family: Arial, sans-serif;
	color: #ffffff;
  }
  
  .container {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	background-color: #ABDBFF;
	border-radius: 5px;
	text-align: center;
  }
  
  h1 {
	color: #22031F;
	margin-bottom: 20px;
  }
  
  form {
	margin-bottom: 20px;
  }
  
  label {
	display: block;
	margin-bottom: 10px;
	color: #22031F;
	font-weight: bold;
  }
  
  input[type="number"],
  input[type="date"],
  button {
	width: 90%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 3px;
	font-size: 16px;
  }
  
  button {
	background-color: #57886C;
	color: #ffffff;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #35614A;
  }
  
  #result {
	margin-top: 20px;
	text-align: left;
  }
  